<app-nav-menu-top></app-nav-menu-top>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 text-center text-title mb-5">Crear gestión</div>
    <div class="col-10 row">
      <div class="col-1"></div>
      <div class="col-5">
        <form>
          <div class="mb-3">
            <label for="nombre">Nombre</label>
            <input
              name="name"
              [(ngModel)]="management.name"
              type="text"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="comentarios" class="form-label">Comentarios</label>
            <textarea
              name="observation"
              [(ngModel)]="management.observation"
              name="comentarios"
              rows="5"
              class="form-control"
            ></textarea>
          </div>
          <button
            type="button"
            class="btn btn-primary mr-4"
            [disabled]="management.name == '' || management.observation == ''"
            (click)="crear()"
          >
            Enviar
          </button>
          <button type="button" class="btn btn-danger" (click)="cancelar()">
            Cancelar
          </button>
        </form>
      </div>
      <div class="col-1"></div>
      <div class="col-5" style="background-color: rgba(0, 0, 0, 0.1)">
        <div class="p-3">
          <p class="text-center text-subtitle">Documentos requeridos</p>
          <div class="mb-3">
            <select
              name="documentoActual"
              [(ngModel)]="documentoActual"
              class="form-control"
            >
              <option value="0">Seleccione el documento</option>
              <option
                value="{{ documento.id }}"
                *ngFor="let documento of documentosDisponibles"
              >
                {{ documento.name }}
              </option>
            </select>
            <button
              type="button"
              class="btn btn-primary"
              (click)="agregarDocumento()"
            >
              Agregar
            </button>
          </div>
          <div *ngFor="let doc of documentos" class="mb-3">
            <label for="time">{{ doc.name }}</label>
            <input type="file" class="form-control" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
