<div class="container-fluid p-5">
    <h2>MeetDay</h2>
    <br>
    <div class="container" [ngClass]="{'right-panel-active' : !login}" id="container">
        <div class="form-container sign-up-container">
            <form [formGroup]="sigupForm" >
                <h1>Crear cuenta</h1>
                <!-- <div class="social-container">
                    <a href="#" class="social"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="social"><i class="bi bi-google"></i></a>
                </div> -->
                <!-- <span>O puedes usar tu correo</span> -->
                <input formControlName="firstname" type="text" placeholder="Nombre" />
                <input formControlName="lastname" type="text" placeholder="Apellido" />
                <input formControlName="email" type="email" placeholder="Correo" />
                <input formControlName="username" type="text" placeholder="Usuario" />
                <input formControlName="password" type="password" placeholder="Contraseña" />
                <button [disabled]="sigupForm.invalid" type="button" (click)="onSubmitSignUp()" >Registrarse</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form [formGroup]="loginForm">
                <h1>Iniciar sesión</h1>
                <!-- <div class="social-container">
                    <a href="#" class="social"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="social"><i class="bi bi-google"></i></a>
                </div> -->
                <!-- <span>o usa tu correo</span> -->
                <input formControlName="username" type="text" placeholder="Usuario" />
                <small 
                *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')"
                class="text-danger">*El usuario es requerido</small>
                <input formControlName="password" type="password" placeholder="Contraseña" />
                <small 
                *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required','password')"
                class="text-danger">*La contraseña es requerida</small>
                <a href="#">Olvide mi contraseña</a>
                <button [disabled]="loginForm.invalid" type="button" (click)="onSubmitLogin()">Iniciar sesión</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>¡Bienvenido!</h1>
                    <p>Si ya cuentas con una cuenta puedes iniciar sesión acá</p>
                    <button class="ghost" id="signIn" (click)="setSignIn()">Iniciar sesión</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>¡Hola!</h1>
                    <p>Si no cuentas con una cuenta puedes registrarte acá</p>
                    <button class="ghost" id="signUp" (click)="setSignUp()">Registrarme</button>
                </div>
            </div>
        </div>
    </div>
</div>