<app-nav-menu-top></app-nav-menu-top>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-7 d-flex flex-column justify-content-center">
          <p class="text-center text-title">Gestiones</p>
        </div>
        <div class="d-none d-md-block col-5">
          <img
            src="../../../../../assets/images/appointment-list.jpg"
            alt=""
            width="100%"
          />
        </div>
      </div>
    </div>
    <div class="col-12 mb-2">
      <button type="button" class="btn btn-primary" (click)="create()">
        Crear gestión
      </button>
    </div>
    <div class="col-12">
      <table class="table table-bordered border-light">
        <thead>
          <tr>
            <th>Gestion ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let management of managements">
            <td>{{ management.id }}</td>
            <td>{{ management.name }}</td>
            <td>{{ management.observation }}</td>
            <td>
              <span class="badge bg-secondary" *ngIf="management.state=='VAL'">Validación</span>
              <span class="badge bg-success" *ngIf="management.state=='ACT'">Activo</span>
              <span class="badge bg-danger" *ngIf="management.state=='INC'">Inactivo</span>
            </td>
            <td>
              <button type="button" class="btn btn-info text-center" disabled>
                <i class="bi bi-pencil-square"></i>
              </button>
              <button type="button" class="btn btn-success m-1" disabled>
                <i class="bi bi-browser-safari"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-footer></app-footer>
